.chats {
  width: 25%;
  overflow-y: scroll;
  -ms-overflow-style: none; // browser compatibility
  scrollbar-width: none; // browser compatibility

  outline: none;
}

.chats::-webkit-scrollbar {
  display: none; // browser compatibility
}
