@keyframes shimmer {
  0% {
    background-position: -1000px -1000px;
  }
  100% {
    background-position: 1000px 1000px;
  }
}

.skeleton {
  max-height: inherit;
  max-width: inherit;
  width: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;

  background: var(--bg-skeleton);
  background-size: 1000px 100%;
  border-radius: 16px;
}

.skeleton_animated {
  animation: shimmer 5s infinite linear;
}
