.input {
  display: flex;
  align-items: end;
  padding: 10px;
  border-top: 1px solid var(--border);
}

.box {
  flex: 1;

  color: var(--text);
  background: var(--bg-secondary);
  border: 1px solid var(--border-accent);
  outline: none;

  border-radius: 16px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.4;

  height: 36px;
  resize: none;

  white-space: pre-wrap;
}

.send {
  cursor: pointer;
  margin: 8px 0 8px 8px;
}
