.body {
  display: flex;
  height: calc(100dvh - 64px);
}

.chats {
  width: 25%;

  overflow-y: scroll;
  -ms-overflow-style: none; // browser compatibility
  scrollbar-width: none; // browser compatibility
  border-right: 1px solid #201f1e1f;
}

.chats::-webkit-scrollbar {
  display: none; // browser compatibility
}
