.component-avatar {
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;

  &[data-small='true'] {
    width: 32px;
    height: 32px;
  }

  &[data-small='false'] {
    width: 48px;
    height: 48px;
  }
}
