@import 'reset';
@import 'theme';

body,
html,
#root {
  min-height: 100dvh;
  overflow-y: hidden;
  font-family: 'Lato', sans-serif;
  position: relative;

  p {
    margin: 0;
  }

  background: var(--bg);
  color: var(--text);
}

button {
  cursor: pointer;
}
